<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title> Help page </title>
    </head>

    <body>
        {{> header}}
        <p> Hello people! </p>

    </body>

    {{> footer}}

</html>
